<div class="google-dfp-ad-label"><h2>ADVERTISEMENT FROM GOOGLE-DFT-AD</h2></div>
  <div id={{divId}} style='width: {{const_width}}px; height: {{const_height}}px' class="dfp-ad-unit" align=center>
  	{{#if loadedGoogletag}}
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('{{divId}}'); });
    </script>
  {{/if}}
</div>



