<div class="google-dfp-ad-label"><h2>Google Ad Plugin Display</h2></div>
  <div id={{divId}} style={{adWrapperStyle}} class="dfp-ad-unit" align=center> 
  	{{#if loadedGoogletag}}
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('{{divId}}'); });
    </script>
  {{/if}}
</div>
