
.google-dfp-ad {
  padding: 3px;
  margin-bottom: 10px;
  clear: both;
}

.google-dfp-ad  .dfp-ad-unit {
  margin: 0 auto;
}

.google-adsense {
  padding: 3px;
  margin-bottom: 10px;
  clear: both;
}

.google-adsense  .adsense-unit {
  margin: 0 auto;
}

.amazon-product-links {
  padding: 3px;
  margin-bottom: 10px;
  clear: both;
}

.amazon-product-links  .amazon-unit {
  margin: 0 auto;
}

